<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
    	<link rel="stylesheet" href="/css/style.css">
		<title>Insert title here</title>
	</head>
	<body id="profile">

		<%- include('partials/navbar.ejs') %>
    
	    <main id="messages" class="py-2 d-flex flex-column align-items-center">
    	</main>
	    
	    <script src="/js/User.js"></script>
	    <script src="/js/Connection.js"></script>
	    <script src="/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
